* {
    margin    : 0;
    padding   : 0;
    margin-top: 0vh;
    overflow-x: hidden;
}

ul {
    list-style-type : none;
    margin          : 0;
    padding         : 0;
    overflow        : hidden;
    background-color: #e2b4ff;
}

li {
    float: left;
}

li a {
    display            : block;
    color              : #000000;
    text-align         : center;
    padding            : 14px 16px;
    text-decoration    : none;
    transition-duration: 200ms;
    font-family        : "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

li a:hover {
    background-color   : #a87dc3;
    transition-duration: 200ms;
    color              : rgb(0, 0, 0);
    text-decoration    : underline;
}