* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    --background-color: #1c002c;
    --purple: #9700fd;
    --blurple: #3826bb;
    --Green: #00fcc1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
}

.main {
    background-color: var(--background-color);
    width: 80dvw;
    height: 80dvh;
    border-radius: 4dvh;
    box-shadow: var(--purple) 0dvh 0dvh 10dvh -3dvh inset;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.top {
    height: 17dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    /* border: 0.4dvh solid var(--Green); */
}

.banner {
    height: 12dvh;
    max-height: 18dvw;
    aspect-ratio: 1189/276;
    object-fit: cover;
    transition: 200ms ease-in-out;
}

.banner:hover {
    height: 15dvh;
}

.bottom {
    background-color: var(--background-color);
    width: 80%;
    height: 57dvh;
    border: 0.4dvh solid var(--blurple);
    margin-bottom: 5dvh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;

}

.bottom-list {
    min-height: 2dvh;
    order: 1;
    flex-grow: 0.15;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.list-item {
    border-bottom: 0.4dvh solid var(--blurple);
    border-left: 0.24dvh solid var(--blurple);
    border-right: 0.24dvh solid var(--blurple);
    flex-grow: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--Green);
    font-size: 2dvw;
    object-fit: cover;
    overflow-y: hidden;
    padding-bottom: 0.6dvh;
    transition: 100ms ease-in-out;
}

.list-item:hover {
    background-color: var(--purple);
    cursor: pointer;
    text-decoration: underline;
}

.bottom-container {
    order: 2;
    flex-grow: 10;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: stretch;
    align-content: start;
    /* gap: 1dvh 1dvh; */
}

.bottom-content {
    flex-grow: 1;
    min-width: max(20dvh, 40%);
    width: min-content;
    height: min-content;
    /* border: 0.3dvh solid var(--purple); */
    padding: 2dvh;
    padding-top: 1.4dvh;
    color: var(--Green);
    text-align: center;
    margin: 1dvh;
}

a {
    text-decoration: inherit;
    color: inherit;
}

#list-left {
    border-left: none;
}

#list-right {
    border-right: none;
}

h1 {
    font-size: 4dvh;
    font-style: none;
    margin-bottom: 1dvh;
    color: var(--purple);
}

p {
    font-size: 1.8dvh;
    font-style: none;
    line-height: 1.2;
    overflow-y: hidden;
}